<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Year Released:</strong>
  <%= @movie.year_released %>
</p>


<h2>Ratings</h2>
<%= render @movie.ratings %>

<h2>Add a rating:</h2>
<%= render "ratings/form" %>



<%= link_to 'Back', movies_path %> | <%= link_to 'Edit', edit_movie_path(@movie) %>


